$text: rgb(58, 58, 58);

.posts {
  color: $text !important;
}
.posts:hover {
   color: rgb(29, 25, 25) !important;
}

li{
  list-style-type: none; 
}

.imageEvent{
}

.container-home{
	width: 100%;
}

.container-classes{	
	background-color: red;
	width: 20%;
	margin: 5%;
	display: inline-block;
}