$text: rgb(58, 58, 58);

.posts {
  color: $text !important;
}
.posts:hover {
   color: rgb(29, 25, 25) !important;
}

li{
  list-style-type: none; 
}

.imageEvent{
}

.container-home{
	width: 100%;
}

.container-classes{	
background-color: darkseagreen;
    width: 20%;
    margin: 5%;
    display: inline-block;
    border-radius: 3%;
    padding: 3%;
}

.loginContainer {
	background: #B0E0E6;
	padding-top: 5%;
	border-radius: 3%;
	margin-top: 5%;
	width: 50%;
}

#test{
	background-color: black;
}

.footer{
	width: 100%;
	position: fixed;
	bottom: 0;
	background: white;
}

.right{
	position: absolute;
	right: 0;
	top: 0;
}

.adminLink{
	color: rgba(0, 0, 0, 0.03)
}

.adminContainer{
	margin-top: 10%;
	 width: 80%;
}

.linkFooter{
	width: 10%;
	color: red;
}

.btnClasses{
	margin-top: 10px;
	background-color: #C0C0C0;
}


.detailsContenair{
  width: 100%; 	
}

.titleDetails{
	text-align: center;
}

.buttonDetails{
	margin-top: 5%;
	background-color: #C0C0C0;
	left: 50%;
	position: absolute;
}

.descriptionDetails{
	text-align: center;
}

.editorContainer{
	width: 100%;
}

.editorContainer p{
	font-weight: bold;
	text-align: center;
}

.editor{
	width: 100% !important
}